<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Refund Policy'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <h2><span style="color: #000000">Return and Refund</span></h2>
              <p>
                <span style="color: #000000"
                  >A customer can return any defected or wrong products within
                  seven days! The company may either refund or provide Boucher.
                  There is the procedure to return any product.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >Call to the customer service to return any product
                  first.</span
                ><br />
                <span style="color: #000000"
                  >Fill out the return form provided with the product.</span
                ><br />
                <span style="color: #000000"
                  >Pack the product as delivered to.</span
                ><br />
                <span style="color: #000000"
                  >Make sure to provide the delivery box and return level with
                  the produce.</span
                ><br />
                <span style="color: #000000"
                  >Wait for the delivery man pick up or carry it to the drop off
                  area.</span
                ><br />
                <span style="color: #000000"
                  >You will be given a tracking number for further
                  delivery.</span
                ><br />
                <span style="color: #000000"
                  >But remember a particular type of items is not returnable.
                  Those are the bulky or heavy item. Also, the electronic item
                  includes TV, AC, Fridge, washing machine, Oven, etc.
                  Stationary and book item also included. So, look at the
                  product description before buying. There must be info whether
                  the item should be returnable or not.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >Besides, before purchase carefully select the item size and
                  color. The item is only returnable in the case of wrong item
                  and defective product delivery. This won’t be any excuse of
                  you don’t like the item after delivery.</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ion-text>
    <p [innerHTML]="config.refundPolicy">
    </p>
  </ion-text> -->
</ion-content>
