ion-content.md.hydrated {
  p.wel_p {
    font-family: system-ui;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }

  p.wel_p_t {
    font-family: system-ui;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: -3px;
  }

  background: rgb(23, 230, 48);
  background: linear-gradient(
    90deg,
    rgba(23, 230, 48, 1) 0%,
    rgba(29, 241, 104, 1) 35%,
    rgba(36, 255, 178, 1) 100%
  );
  --background: linear-gradient(
    90deg,
    rgba(23, 230, 48, 1) 0%,
    rgba(29, 241, 104, 1) 35%,
    rgba(36, 255, 178, 1) 100%
  );
}

ion-content.ios.hydrated {
  background: rgb(23, 230, 48);
  background: linear-gradient(
    90deg,
    rgba(23, 230, 48, 1) 0%,
    rgba(29, 241, 104, 1) 35%,
    rgba(36, 255, 178, 1) 100%
  );
}

ion-content {
  background-position: top center;
  background-size: auto 80%;
  background-repeat: no-repeat;

  img.logo_th {
    height: 79px;
  }

  .contain__ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 14px;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
  }

  ion-slides {
    height: 99%;
    --bullet-background: black !important;
    --bullet-background-active: var(--ion-color-secondary) !important;
    span {
      margin-top: -10px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      ion-row {
        border-top: none !important;
        margin-top: 2%;
        ion-icon {
          zoom: 2.2;
          color: var(--ion-color-primary);
        }
        h2 {
          margin-top: 8px;
          font-size: 20px;
        }
        p {
          margin-top: 2px;
          font-size: 16px;
          margin-bottom: 16px;
        }
        ion-button {
          margin-left: auto;
          margin-right: auto;
          --border-color: var(--ion-color-secondary);
          height: 30px;
        }
        &:first-child {
          width: auto;
          height: 350px;
          margin-top: 60px;
        }
      }
    }
  }
}
