<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Privacy Policy'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner vc_custom_1527240190798">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <h2><span style="color: #000000">Privacy Policy</span></h2>
              <p>
                <span style="color: #000000"
                  >We regard your security and need to ensure your own data. To
                  find out additional, if it’s not too much trouble read this
                  Privacy Policy.<br />
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >This Privacy Policy explains how we accumulate, use and
                  (under explicit conditions) reveal your own information. This
                  Privacy Policy also explains the methods we have taken to make
                  sure about your own information. Finally, this Privacy Policy
                  explains your options concerning the gathering, use and
                  disclosure of your own information. By heading off to the site
                  explicitly or through another site, you recognize the
                  practices delineated right now.<br />
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >Data security includes trust and your insurance is basic to
                  us. We should, thusly, simply use your name and other
                  information which relates to you in the manner set out right
                  now. We will simply assemble information where it is crucial
                  for us to do accordingly and we will simply accumulate
                  information in case it is noteworthy to our dealings with
                  you.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >We will simply save your information for whatever time span
                  that we are either required to by law or as is appropriate for
                  the explanations behind which it was assembled.<br />
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >You can visit the Site and scrutinize without giving
                  individual focal points. In the midst of your visit to the
                  Site you remain baffling and at no time would we have the
                  option to recognize you except if you have a record on the
                  Site and join up with your customer name and mystery word.<br />
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >What sort of data we gather?<br />
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >We may assemble various pieces of information if you hope to
                  present a solicitation for a thing with us on the site.<br />
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >We assemble, store and procedure your data for taking care of
                  your buy on the site and any possible cases which you may make
                  later on, and for your better correspondence with our
                  organization. We may assemble singular information including,
                  anyway not limited to, your title, name, sexual direction,
                  date of birth, email address, postal location, transport
                  address (if remarkable), telephone number, portable number,
                  fax number, portion unpretentious components, portion card
                  focal points or budgetary equalization inconspicuous
                  components.<br />
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >We will use the information you provide for enable us to
                  process your solicitations and to give you the organizations
                  and information offered through our site and which you
                  inquire. Further, we will use the information you outfit to
                  coordinate your record with us; affirm and do fiscal trades in
                  association with portions you make; survey the downloading of
                  data from our webpage; improve the plan or possibly substance
                  of the pages of our website and alter them for customers;
                  recognize visitors on our website; do investigate on our
                  customers’ economics; send you information we figure you may
                  find important or which you have requested from us, including
                  information about our things and organizations, in the event
                  that you have exhibited that you have not fought being gone
                  after these reasons. Subject to getting your consent we may
                  connect with you by email with focal points of various things
                  and organizations. If you favour not to get any exhibiting
                  trades from us, you can stop at whatever point.
                </span>
              </p>
              <p>
                <span style="color: #000000"
                  >We may give your name and convey to an untouchable
                  remembering the ultimate objective to make movement of the
                  thing to you (for example to our detachment or supplier). You
                  should simply submit to us the site information which is exact
                  and not misleading and you should keep awake with the most
                  recent and instruct us regarding changes.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >Your genuine solicitation focal points may be taken care of
                  with us yet for security reasons can’t be recuperated
                  explicitly by us. Regardless, you may find a workable pace by
                  marking into your record on the Site. Here you can see the
                  focal points of your solicitations that have been done, those,
                  which are open and those which are in a matter of moments to
                  be dispatched and control your location unpretentious
                  components, bank unobtrusive components (for markdown
                  purposes) and any notice to which you may have bought in. You
                  grasp to treat the individual access data secretly and not
                  make it open to unapproved untouchables. We can’t acknowledge
                  any hazard for maltreatment of passwords except if this
                  maltreatment is our fault.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >We may use your own information for evaluation and factual
                  reviewing. Your focal points are baffling and may be used for
                  accurate purposes. You can stop this at whatever point. Any
                  reactions to diagrams or end studies we may demand that you
                  finish won’t be sent on to pariahs. Uncovering your email
                  address is only essential if you should take an interest in
                  competitions. We save the answers for our investigations
                  autonomously from your email address.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >We may in like manner send you other information about us,
                  the Site, our various destinations, our things, bargains
                  progressions, our notices, anything relating to various
                  associations in our social event or our business accessories.
                  In case you would slant toward not to get any of this
                  additional information as point by point right now (any bit of
                  it) if you don’t mind tap the ‘pull back’ associate in any
                  email that we send to you. Inside 7 working (days which are
                  not either (I) a Sunday, nor (ii) an open event wherever in
                  Bangladesh) of receipt of your course we will stop to send you
                  information as inquired. If your rule is vague we will connect
                  with you for clarification.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >The data and information we collect from the buyer highly
                  confidential and secure. It remains protected by us. We don’t
                  share anyone personal data with others. This site is 100% and
                  secured. Further, the website has own rules and regulation
                  that are strictly followed. Purchasing the product via the
                  site that means the buyer is agreed to our terms and
                  condition. So, everyone must follow the condition.</span
                >
              </p>
              <p>
                <span style="color: #000000"
                  >We advise not share personal data to any third party and
                  disclose any information regarding the financial matter. For
                  selling and advertising project dealing via the site not
                  personally. There are many scam and fraud party. Always be
                  aware of them. For more to know contact to talk to us. The
                  online shopping won’t be liable or responsible for any fraud
                  activities. Moreover, any complaint against our registered
                  seller or employee from the customer the employee can be asked
                  for resignation.</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ion-text>
    <p [innerHTML]="config.privacyPolicy">
    </p>
  </ion-text> -->
</ion-content>
