<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-menu-button slot="start" *ngIf="!config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title> {{'Return Policy'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-dialog">
    <p class="title">Return and Refund</p>

    <p class="txt spacing">
      A customer can return any defected or wrong products within seven days!
      The company may either refund or provide Boucher. There is the procedure
      to return any product.
    </p>

    <p class="txt">Call to the customer service to return any product first.</p>
    <p class="txt">Fill out the return form provided with the product.</p>
    <p class="txt">Pack the product as delivered to.</p>
    <p class="txt">
      Make sure to provide the delivery box and return level with the produce.
    </p>
    <p class="txt">
      Wait for the delivery man pick up or carry it to the drop off area.
    </p>
    <p class="txt">You will be given a tracking number for further delivery.</p>

    <p class="txt">
      But remember a particular type of items is not returnable. Those are the
      bulky or heavy item. Also, the electronic item includes TV, AC, Fridge,
      washing machine, Oven, etc. Stationary and book item also included. So,
      look at the product description before buying. There must be info whether
      the item should be returnable or not.
    </p>

    <p class="txt spacingBottom">
      Besides, before purchase carefully select the item size and color. The
      item is only returnable in the case of wrong item and defective product
      delivery. This won’t be any excuse of you don’t like the item after
      delivery.
    </p>
  </div>
</ion-content>
