ion-tab-bar.md.hydrated {
  display: none;
}

ion-tab-bar.ios.hydrated {
  display: none;
}

.prity_shop_ {
  float: left !important;
  text-align: left !important;
  margin-left: -38px;
}

ion-card.cus {
  width: 167px;
  height: 124px;
}

.btn- {
  display: flow-root;
}
p.clostx {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui;
  color: var(--ion-color-primary);
  float: right !important;
}

p.p_name_men {
  font-size: 16px;
  text-align: center;
}

ion-content {
  .swiper-slide {
    width: 40%;
  }

  p.hot-line {
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui;
    color: var(--ion-color-primary);
  }

  p.title-txt {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui;
    color: var(--ion-color-primary);
  }

  img.brandimg {
    height: 123px;
    text-align: center;
  }

  .img_cr {
    text-align: center;
  }

  ion-tab-bar.md.hydrated {
    display: none;
  }

  ion-tab-bar.ios.hydrated {
    display: none;
  }

  ion-grid {
    padding-bottom: 10px !important;
    ion-row {
      box-shadow: 0 0 0 2px lightgrey;
      /* border-radius: 10px; */
      border-right: solid #fafafa;
      ion-col {
        ion-card {
          font-weight: bold;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-align: center;
          margin: 0;
          border-radius: 0px;
          border: solid #fafafa;
          box-shadow: 0px 0px 0px 0px #fafafa;
          border-bottom: 0px;
          border-right: 0px;
          ion-avatar {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
          }
          h6 {
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
            font-size: var(--heading-font-size);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          p {
            text-align: center;
            margin-top: 0;
            font-size: var(--sub-heading-font-size);
          }
        }
      }
    }
  }

  ion-slides {
    ion-slide {
      &:last-child {
        height: auto;
      }
    }
  }
}
