<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-menu-button slot="start" *ngIf="!config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title> {{'Terms of use'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-dialog">
    <p class="title">Terms of Use</p>

    <p class="title_2">1. INTRODUCTION</p>

    <p class="txt">
      Welcome to Prityshop.com also hereby known as “Prityshop”. We are an
      online marketplace and these are the terms and conditions governing your
      access and use of Prityshop along with its related sub-domains, sites,
      mobile app, services and tools (the “Site”). By using the Site, you hereby
      accept these terms and conditions (including the linked information
      herein) and represent that you agree to comply with these terms and
      conditions (the “User Agreement”). This User Agreement is deemed effective
      upon your use of the Site which signifies your acceptance of these terms.
      If you do not agree to be bound by this User Agreement please do not
      access, register with or use this Site. This Site is owned and operated by
      Prityshop Bd Ltd, a company incorporated under the Companies Act, 1994,
      (Registration Number: ).
    </p>
    <p class="txt">
      The Site reserves the right to change, modify, add, or remove portions of
      these Terms and Conditions at any time without any prior notification.
      Changes will be effective when posted on the Site with no other notice
      provided. Please check these Terms and Conditions regularly for updates.
      Your continued use of the Site following the posting of changes to Terms
      and Conditions of use constitutes your acceptance of those changes.
    </p>
    <p class="title_2">CONDITIONS OF USE</p>

    <p class="title_2">A. YOUR ACCOUNT</p>

    <p class="txt">
      To access certain services offered by the platform, we may require that
      you create an account with us or provide personal information to complete
      the creation of an account. We may at any time in our sole and absolute
      discretion, invalidate the username and/or password without giving any
      reason or prior notice and shall not be liable or responsible for any
      losses suffered by, caused by, arising out of, in connection with or by
      reason of such request or invalidation.
    </p>

    <p class="txt">
      You’re dependable for keeping up the privacy of your client distinguishing
      proof, secret word, account points of interest and related private data.
      You concur to acknowledge this obligation and guarantee your account and
      its related points of interest are kept up safely at all times and all
      fundamental steps are taken to anticipate abuse of your account. You ought
      to advise us immediately on the off chance that you’ve got any reason to
      accept that your watchword has ended up known to anybody else, or in the
      event that the watchword is being, or is likely to be, utilized in an
      unauthorized way. You concur and recognize that any utilize of the
      Location and related administrations advertised and/or any get to to
      private data, information or communications utilizing your account and
      watchword should be considered to be either performed by you or authorized
      by you as the case may be. You concur to be bound by any get to of the
      Location and/or utilize of any administrations advertised by the Location
      (whether such get to or utilize are authorized by you or not).
    </p>

    <p class="txt">
      Please ensure that the details you provide us with are correct and
      complete at all times. You are obligated to update details about your
      account in real time by accessing your account online. For pieces of
      information you are not able to update by accessing Your Account on the
      Site, you must inform us via our customer service communication channels
      to assist you with these changes. We reserve the right to refuse access to
      the Site, terminate accounts, remove or edit content at any time without
      prior notice to you.
    </p>

    <p class="title_2">B. PRIVACY</p>

    <p class="txt">
      If you don’t mind audit our Security Understanding, which moreover
      oversees your visit to the Location. The individual data / information
      given to us by you or you utilize of the Location will be treated as
      entirely private, in agreement with the Protection and appropriate laws
      and directions. On the off chance that you protest to your data being
      exchanged or utilized within the way indicated within the Security
      Understanding, it would be ideal if you don’t utilize the Location.
    </p>

    <p class="title_2">C. LICENSE TO ACCESS THE SITE</p>

    <p class="txt">
      We require that by getting to the Location, you affirm merely can frame
      legally binding contracts and thus you affirm that you simply are at
      slightest 18 a long time of age or are getting to the Location beneath the
      supervision of a parent or lawful gatekeeper. We give you a
      non-transferable, revocable and non-exclusive permit to utilize the
      Location, in agreement with the Terms and Conditions portrayed in this,
      for the purposes of shopping for individual things and administrations as
      recorded to be sold on the Location. Commercial utilize or use on sake of
      any third party is prohibited, except as unequivocally allowed by us in
      progress. In case you’re registering as a commerce substance, you speak to
      that you just have the specialist to tie that substance to this Client
      Understanding which you and the trade substance will comply with all
      applicable laws relating to online exchanging. No individual or commerce
      substance may enlist as a part of the Location more than once. Any breach
      of these Terms and Conditions should result within the immediate
      revocation of the license granted in this paragraph without notice to you.
    </p>

    <p class="txt point">
      We require that by getting to the Location, you affirm merely can frame
      legally binding contracts and thus you affirm that you simply are at
      slightest 18 a long time of age or are getting to the Location beneath the
      supervision of a parent or lawful gatekeeper. We give you a
      non-transferable, revocable and non-exclusive permit to utilize the
      Location, in agreement with the Terms and Conditions portrayed in this,
      for the purposes of shopping for individual things and administrations as
      recorded to be sold on the Location. Commercial utilize or use on sake of
      any third party is prohibited, except as unequivocally allowed by us in
      progress. In case you’re registering as a commerce substance, you speak to
      that you just have the specialist to tie that substance to this Client
      Understanding which you and the trade substance will comply with all
      applicable laws relating to online exchanging. No individual or commerce
      substance may enlist as a part of the Location more than once. Any breach
      of these Terms and Conditions should result within the immediate
      revocation of the license granted in this paragraph without notice to you.
    </p>
    <p class="txt point">
      Impersonate any person or entity or to falsely state or otherwise
      misrepresent your affiliation with any person or entity.
    </p>

    <p class="txt point">Use the Site for illegal purposes.</p>

    <p class="txt point">
      Attempt to gain unauthorized access to or otherwise interfere or disrupt
      other computer systems or networks connected to the Platform or Services.
    </p>

    <p class="txt point">
      Interfere with another’s utilization and enjoyment of the Site;
    </p>

    <p class="txt point">
      Post, promote or transmit through the Site any prohibited materials as
      deemed illegal by The People’s Republic of Bangladesh.
    </p>

    <p class="txt">
      Use or upload, in any way, any software or material that contains, or
      which you have reason to suspect that contains, viruses, damaging
      components, malicious code or harmful components which may impair or
      corrupt the Site’s data or damage or interfere with the operation of
      another Customer’s computer or mobile device or the Site and use the Site
      other than in conformance with the acceptable use policies of any
      connected computer networks, any applicable Internet standards and any
      other applicable laws.
    </p>
    <p class="title_2">D. DISCLAIMER</p>

    <p class="txt">
      You recognize and attempt that you are getting to the administrations on
      the Site and executing at your own hazard and are utilizing your best and
      reasonable judgment before going into any exchanges through the Site. We
      will not be at risk nor answerable for any activities or inaction of
      merchants nor any rupture of conditions, portrayals or guarantees by the
      dealers or makers of the items and thus explicitly renounce and any all
      obligation and obligation in such manner. We will not intercede or resolve
      any question or difference among you and the vendors or makers of the
      items.
    </p>

    <p class="title_2">E. COMMUNICATING WITH US</p>

    <p class="txt">
      At the point when you visit the Site, or send messages to us, you are
      speaking with us electronically. You will be required to give a
      substantial telephone number while putting in a request with us. We may
      speak with you by email, SMS, call or by posting sees on the Site or by
      some other method of correspondence we decide to utilize. For legally
      binding purposes, you agree to get interchanges (counting value-based,
      special or potentially business messages), from us concerning your
      utilization of the site (as well as situation of your request) and consent
      to treat all methods of correspondence with a similar significance.
    </p>
  </div>
</ion-content>
